	<h1>FAQs</h1>
	<ul>
		{{ range . }}
			{{ template "qa" . }}
		{{ end }}
	</ul>

	{{ define "qa" }}
		<li>
			<div>
				<b>{{ .Question }}</b>
			</div>
			<div>{{ .Answer }}</div>
		</li>
	{{ end }}
